npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

test/
coverage/
.github/
.npmignore
.gitignore
.gitattributes
.editorconfig
.npmrc
.eslintrc.json
.releaserc.json
jest.config.js

index.test.js
