npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

src/
test/
tests/
__tests__/
examples/
coverage/
.github/
.npmignore
.gitignore
.gitattributes
.editorconfig
.npmrc
.eslintrc.json
.releaserc.json
jest.config.js
rollup.config.js
