.parent-1 {
display: flex;
justify-content: center !important;
flex-wrap: wrap;
column-gap: 12px;
row-gap: 12px;
}

.parent-2 {
display: flex;
justify-content: center;
flex-wrap: wrap;
column-gap: 12px !important;
row-gap: 12px !important;
}

.parent-3 {
display: flex;
justify-content: space-between !important;
align-items: center !important;
flex-wrap: wrap;
column-gap: 12px !important;
row-gap: 12px !important;
}

.parent-4 {
display: flex;
justify-content: space-around;
align-items: center !important;
flex-wrap: wrap;
column-gap: 12px !important;
row-gap: 12px !important;
}

.parent-5 {
display: flex;
justify-content: center;
flex-wrap: wrap !important;
}

.parent-6 {
display: flex;
justify-content: center;
flex-direction: row !important;
}

.parent-7 {
display: flex;
justify-content: center;
flex-direction: column-reverse !important;
}
