.parent {
	flexup: center/end;
}

.parent-2 {
	flexup: center;
}

.parent-3 {
	flexup: center/_;
}

.parent-4 {
	flexup: center/_ wrap 12px/16px -row;
}

.parent-5 {
	flexup: center/_ wrap 24px col;
}

.parent-6 {
	flexup: center/_ _/24px;
}

.parent-7 {
	flexup: _;
}

.parent-8 {
	flexup: ;
}

.parent-9 {
	flexup: center/_ wrap 12px/16px !-row;
}

.parent-10 {
	flexup: !center;
}

.parent-11 {
	flexup: !center/_ wrap 12px/!16px -row;
}
